
body {
  margin: 0;
  padding: 0;
  font-family: 'Jura', sans-serif;
}

.title {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  font-size: 60px;
  color: rgb(28, 19, 94);
  text-decoration: none;
  margin-left: 20px;
}

.navigation-bar {
    width: 100%;
    height: 200px;
    background-image: url("/images/swimming-banner.png");
    background-size: cover;
}

.navigation-bar ul {
  padding: 10px;
  text-align:left;
  display: inline-block;
  float: left;

}

.navigation-bar li {
  display: inline;
  margin: 10px;
}

.navLink {
  display: inline;
  text-decoration: none;
  font-weight: bold;
  color: rgb(4, 61, 79);

}

.new-lesson {
  padding: 20px
}

.add-lesson {
  padding: 20px;
}

.component {
  margin: 20px;
  padding: 10px;
  width: 300px;
  border: 1px dotted;
  border-radius: 5px;

}

ul.component-list {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: rgb(28, 92, 79)
}

li.component-item {
  display: flex;
  flex-wrap: wrap;
}
